@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:600&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
	content: none;
}
table {
    border-collapse: collapse;
	border-spacing: 0;
}

/* my CSS begins here */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: dimgray;
}

/* header {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    background: greenyellow;
} */

nav {
    display: flex;
    justify-content: space-between;
}


div#grocery-list-sidenav {
    height: 100%;
    width: 111px;
    background-color: rgb(113, 146, 147);
    position: fixed!important;
    z-index: 1;
    overflow: auto;
}

div#grocery-list {
    position: fixed;
    top: 0;
    padding-top: 10px;
    padding-bottom: 0;
    height: 100%;
    width: 6rem;
    background-color: orange;
}


div#belowtopnav {
    margin-left: 6rem;
}

div#dinner-intro-box {
    display: flex;
    justify-content: center;
    height: 34vh;
    width: 55rem;
    background-color: aquamarine;
}
div.recipe-cards-container {
    display: flex;
    justify-content: space-evenly;
    width: 55rem;
    height: 100vh;
    background-color: darkgreen;
}
.card-deck {
    margin: 0 -15px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  
.card-deck .recipe-card {
    margin: 0 0 1rem;
    border-right: double;
    padding-top: 10px;
  }
.card-body .card-title {
    display: flex;
    justify-content: center;
}
  
@media (min-width: 576px) and (max-width: 767.98px) {
    .card-deck .recipe-card {
      -ms-flex: 0 0 48.7%;
      flex: 0 0 48.7%;
    }
  }
  
@media (min-width: 768px) and (max-width: 991.98px) {
    .card-deck .recipe-card {
      -ms-flex: 0 0 32%;
      flex: 0 0 32%;
    }
  }
  
@media (min-width: 992px)
  {
    .card-deck .recipe-card {
      -ms-flex: 0 0 24%;
      flex: 0 0 24%;
    }
  }
  





